<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.vizbee.demo.atvreceiver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name="tv.vizbee.demo.atvreceiver.ATVVZBDemoApplication"
        android:banner="@drawable/vizbee_icon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.VizbeeAndroidSDK">

        <activity
            android:name="tv.vizbee.demo.atvreceiver.ui.MainActivity"
            android:theme="@style/Theme.VizbeeAndroidSDK"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <!--[BEGIN] Vizbee Integration-->

            <intent-filter>
                <action android:name="com.google.android.gms.cast.tv.action.LAUNCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--[END] Vizbee Integration-->

        </activity>

        <activity
            android:name="tv.vizbee.demo.atvreceiver.ui.VideoPlayerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.VizbeeAndroidTVSDK">

            <!--[BEGIN] Vizbee Integration-->

            <intent-filter>
                <action android:name="com.google.android.gms.cast.tv.action.LOAD"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--[END] Vizbee Integration-->

        </activity>

        <!--[BEGIN] Vizbee Integration-->

        <meta-data
            android:name="com.google.android.gms.cast.tv.RECEIVER_OPTIONS_PROVIDER_CLASS_NAME"
            android:value="tv.vizbee.demo.atvreceiver.cast.CastReceiverOptionsProvider" />

        <!--[END] Vizbee Integration-->

        <meta-data
            android:name="BITMOVIN_PLAYER_LICENSE_KEY"
            android:value="b55933e9-e033-4e73-bc59-a60e9133fb11" />

    </application>

</manifest>